tr, td, th, table{
    border-top: 1px solid gray;
    border-collapse: collapse; 
    padding: 10px 15px;  
     
    }
    
    th{
        background-color: dodgerblue;
        color: white;
    }
    
    .container{
        padding-top: 5%;
        width: 70%;
        /* margin: auto; */
    }
    
    th{
    font-size: 18px;
    font-weight: bolder;
    padding: 15px 60px;
    }
    
    caption{
        background-color: orange;
        width: 40%;
        margin: 25px auto;
        padding: 10px;
        border-radius: 10px;
        /* margin-bottom: 20px; */
        font-size: 30px;
        color: white;
    }